@import "tailwindcss";

.ui-button {
  @apply rounded-md border border-green-200 bg-green-100 px-6 py-2 text-green-700;
}
.ui-button[disabled] {
  @apply opacity-50;
}

.ui-input {
  @apply border border-neutral-200 p-2 rounded-md w-full;
}